<div id="branding" class="col">
  <center>
    <h1><%= LinkConfig::BRANDING %></h1>

    <%= form_with do |form| %>
      <input size=50 name="dest" id="dest" placeholder="destination URL">
      <br/>
      <br/>
      <%= form.submit "Create short link" %>
    <% end %>
  </center>
</div>
