body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

#errors {
  border-radius: 0.5rem;
  background-color: #fce4e4;
  border: 2px solid #fcc2c3;

  color: black;
  margin: auto;
  max-width: 20rem;
  padding: 0.75rem;
  margin: 0.33rem;
}

#branding {
  margin: auto;
}

#code-url-display {
  font-size: 2rem;
}
